img {
    display:none
}
@media (min-width:901px){
img {
    padding: 35px;
    max-width:600px;
    max-height: 100%;
}
}
#contDiv{
    background-color: grey,
}
@media (min-width:901px){
#ArrivalDate{
    max-width:175px;
}
}
@media (min-width:901px){
#DepartureDate{
    max-width:175px;
}
}
.box{
    display:flex; 
  }
#city{
    max-width:160px;
}
.holderHeadline{
    width: 100%;
    font-size:20px;
    font-family: arial;
    margin-top:50px;
    box-shadow: 0 0 60px 10px rgba(228, 152, 66, 0.6);
}
@media (min-width:901px){
.holderHeadline{
    margin-top:50px;
    box-shadow: 0 0 60px 10px rgba(228, 152, 66, 0.6);
    width: 28%;
    font-size:70px;
    font-family: arial;
}
}
.holder{
    display:flex;
    width:100%;
    flex-direction: column;
}
@media (min-width:901px){
.holder{
    display: block;
    margin-top: 15px;
    width: 1300px
}
}
#app{
    display: flex;
    padding-left: 0px;
    padding-right: 0px;
    flex-direction: column;
}
@media (min-width:901px){
#app{
    padding-left: 170px;
    padding-right: 170px;
}
}
.holder div[id^='contDiv']{
    display:flex;
    flex-direction: column;
}
@media (min-width:901px){
.holder div[id^='contDiv'] {
    background:linear-gradient(to bottom, #db8515 5%, #ccc2a6 100%);
    margin-top:20px;
    display:grid;
    grid-template-columns:   auto;
    grid-template-rows:   auto;
    grid-template-areas:
    "img img img info info info info info info info info info info info info info";
    width: 1200px
}
}
#link{
    display: none
}
@media (min-width:901px){
#link {
    display: inline;
    margin-right: 20px;
    color: rgb(160, 59, 146);
}
}
#link:hover{
    background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
	background-color:#ccc2a6;
}
#tripInfo{
    display: block;
    grid-area: Forecast;
    font-size: 25px;
    font-weight: 400;
}
@media (min-width:901px){
#tripInfo {
    margin: 0px
}
}
#tripIntro{
    margin:10px;
    display: block;
    grid-area: Intro;
    font-size: 33px;
    font-weight: 900;
}
@media (min-width:901px){
#tripIntro {
    margin:0px;
}
}
#tripImage {
    grid-area: grid;
    display: inline-block;
    grid-area: info;
}
#outerImageHolder{
    display: none
}
@media (min-width:901px){
#outerImageHolder{
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
}
#imageHolder {
    width: 600px;
    height: 445px;
    grid-area: img;
}
#tripTimeRem {
    font-family: arial;
    font-size: 25px;
    font-weight: 400;
}
#tripContainer{
    align-items: baseline;
    justify-content: left;
    display: flex;
    flex-direction: column;
}
@media (min-width:901px){
#tripContainer{
    align-items: center;
    justify-content: center;
    display: grid;
    grid-area: info;
    grid-template-columns:  100%;
    grid-template-rows:  25% 25% 25% ;
    grid-template-areas:
    "Intro"
    "Buttons"
    "Forecast"
    "TimeRem"
    ;
}
}
.modal {
    display: none;
    width: 600px;
    max-width: 100%;
    height: 400px;
    max-height: 100%; 
    position: fixed;
    z-index: 100;
    overflow: auto;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: white;
    box-shadow: 0 0 60px 10px rgba(0, 0, 0, 0.9);
  }
  .closed {
    display: none;
  }
  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 100%;
    overflow: auto; 
  }
  .modal-content:hover {background: rgb(94, 175, 91)}


