form {
    border: 1px solid #545454;
    border-radius: 3px;
    padding: 40px;
}

input {
    padding: 5px 20px;
    width: 100%;
    line-height: 16px;
    margin: 10px 0;
}
#generate{
	box-shadow: 0px 1px 0px 0px #1c1b18;
	background:linear-gradient(to bottom, #db8515 5%, #ccc2a6 100%);
	background-color:#db8515;
	border-radius:15px;
	border:2px solid #333029;
	display:inline-block;
	cursor:pointer;
    color:#505739;
    background-color: grey;
	font-family:Arial;
	font-size:25px;
    font-weight:bold;
    margin-left: 20px;
	padding:12px 16px;
	text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    width:90%
}
@media (min-width:901px){
#generate{
    width:15%
}
}
#generate:hover {
	background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
	background-color:#ccc2a6;
}
#tripContainer button[id^='trip']{
	margin: 10px;
	box-shadow: 0px 1px 0px 0px #1c1b18;
	background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
	background-color:#eae0c2;
	border-radius:15px;
	border:2px solid #333029;
	display:inline-block;
	cursor:pointer;
    color:#505739;
    background-color: grey;
	font-family:Arial;
	font-size:25px;
	font-weight:bold;
	padding:12px 16px;
	text-decoration:none;
    text-shadow:0px 1px 0px #ffffff;
    width:66%
}
@media (min-width:901px){
#tripContainer button[id^='trip'] {
	margin:0px
}
}
#tripContainer button:hover {
	background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
	background-color:#ccc2a6;
}
#tripContainer button:active {
	position:relative;
	top:1px;
}
